<div class="flex flex-col w-full place-content-center">
  <h1 class="justify-center font-bold text-4xl text-center"><%= t(:app_title) %></h1>
  <%- if flash[:alert] %>
    <div class="m-auto bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <p><%= t(flash[:alert]) %></p>
    </div>
  <% end %>
  <div class="m-auto">
    <%= form_with url: search_weather_path, method: :post do |form| %>
      <%= form.text_field :location, class: "mt-2 p-2 border border-gray-300 rounded focus:border-blue-500 focus:outline-none", placeholder: t(:input_placeholder_prompt), required: true %>
      <%= form.submit t(:get_weather), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <% end %>
  </div>
</div>
